[submodule "bundle/snipmate"]
	path = bundle/snipmate
	url = git://github.com/ornicar/snipmate.vim.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = git://github.com/scrooloose/syntastic.git
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = git://github.com/scrooloose/nerdcommenter.git
[submodule "bundle/taglist"]
	path = bundle/taglist
	url = git://github.com/esukram/taglist.vim.git
[submodule "bundle/lusty"]
	path = bundle/lusty
	url = git://github.com/sjbach/lusty.git
[submodule "bundle/ack"]
	path = bundle/ack
	url = git://github.com/mileszs/ack.vim.git
[submodule "bundle/surround"]
	path = bundle/surround
	url = git://github.com/tpope/vim-surround.git
[submodule "bundle/matchit"]
	path = bundle/matchit
	url = git://github.com/edsono/vim-matchit.git
[submodule "bundle/supertab"]
	path = bundle/supertab
	url = git://github.com/tsaleh/vim-supertab.git
[submodule "bundle/dirdo"]
	path = bundle/dirdo
	url = git://github.com/ornicar/vim-dirdo.git
[submodule "bundle/commandt"]
	path = bundle/commandt
	url = git://github.com/wincent/Command-T.git
[submodule "bundle/unimpaired"]
	path = bundle/unimpaired
	url = git://github.com/tpope/vim-unimpaired.git
