[submodule "vim/bundle/lusty"]
  path = vim/bundle/lusty
  url = git://github.com/ornicar/lusty.git
  ignore = untracked
[submodule "vim/bundle/ack"]
  path = vim/bundle/ack
  url = git://github.com/mileszs/ack.vim.git
  ignore = untracked
[submodule "vim/bundle/surround"]
  path = vim/bundle/surround
  url = git://github.com/ornicar/vim-surround.git
  ignore = untracked
[submodule "vim/bundle/unimpaired"]
  path = vim/bundle/unimpaired
  url = git://github.com/ornicar/vim-unimpaired.git
  ignore = untracked
[submodule "vim/bundle/ragtag"]
  path = vim/bundle/ragtag
  url = git://github.com/ornicar/vim-ragtag.git
  ignore = untracked
[submodule "vim/bundle/gist"]
  path = vim/bundle/gist
  url = git://github.com/mattn/gist-vim.git
  ignore = untracked
[submodule "vim/bundle/renamer"]
  path = vim/bundle/renamer
  url = git://github.com/vim-scripts/renamer.vim.git
  ignore = untracked
[submodule "oh-my-zsh"]
  path = oh-my-zsh
  url = git://github.com/ornicar/oh-my-zsh
[submodule "vim/bundle/supertab"]
  path = vim/bundle/supertab
  url = git://github.com/ervandew/supertab.git
  ignore = untracked
[submodule "vim/bundle/fugitive"]
  path = vim/bundle/fugitive
  url = git://github.com/tpope/vim-fugitive
  ignore = untracked
[submodule "vim/bundle/solarized"]
  path = vim/bundle/solarized
  url = git://github.com/ornicar/vim-colors-solarized.git
  ignore = untracked
[submodule "vim/bundle/repeat"]
  path = vim/bundle/repeat
  url = git://github.com/tpope/vim-repeat.git
  ignore = untracked
[submodule "vim/bundle/php-namespace"]
  path = vim/bundle/php-namespace
  url = git://github.com/arnaud-lb/vim-php-namespace.git
  ignore = untracked
[submodule "vim/bundle/tlib"]
  path = vim/bundle/tlib
  url = git://github.com/tomtom/tlib_vim.git
  ignore = untracked
[submodule "vim/vendor/javascript"]
  path = vim/vendor/javascript
  url = git://github.com/pangloss/vim-javascript.git
[submodule "vim/bundle/scala"]
  path = vim/bundle/scala
  url = git://github.com/ornicar/vim-scala.git
  ignore = untracked
[submodule "zsh/syntax-highlighting"]
  path = zsh/syntax-highlighting
  url = git://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "vim/bundle/addon-mw-utils"]
  path = vim/bundle/addon-mw-utils
  url = git://github.com/MarcWeber/vim-addon-mw-utils.git
  ignore = untracked
[submodule "vim/bundle/bufexplorer"]
  path = vim/bundle/bufexplorer
  url = git://github.com/ornicar/vim-bufexplorer.git
  ignore = untracked
[submodule "zsh/dircolors-solarized"]
  path = zsh/dircolors-solarized
  url = https://github.com/seebi/dircolors-solarized
  ignore = untracked
[submodule "vim/bundle/align"]
  path = vim/bundle/align
  url = https://github.com/tsaleh/vim-align
  ignore = untracked
[submodule "vim/bundle/ctrlp"]
	path = vim/bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim
  ignore = untracked
  ignore = untracked
[submodule "vim/bundle/pathogen"]
	path = vim/bundle/pathogen
	url = https://github.com/tpope/vim-pathogen
  ignore = untracked
[submodule "vim/bundle/rename"]
	path = vim/bundle/rename
	url = git://github.com/wojtekmach/vim-rename.git
  ignore = untracked
[submodule "vimperator-plugins"]
	path = vimperator-plugins
	url = git://github.com/ornicar/vimperator-plugins
[submodule "vim/bundle/play2"]
	path = vim/bundle/play2
	url = https://github.com/gre/play2vim
[submodule "vim/bundle/commaobject"]
	path = vim/bundle/commaobject
	url = https://github.com/austintaylor/vim-commaobject
[submodule "vim/bundle/commentary"]
	path = vim/bundle/commentary
	url = git://github.com/tpope/vim-commentary.git
[submodule "vim/bundle/webapi"]
	path = vim/bundle/webapi
	url = https://github.com/mattn/webapi-vim
[submodule "zsh/history-substring-search"]
	path = zsh/history-substring-search
	url = https://github.com/zsh-users/zsh-history-substring-search
[submodule "vim/bundle/vimproc"]
	path = vim/bundle/vimproc
	url = https://github.com/Shougo/vimproc
[submodule "vim/bundle/neco-ghc"]
	path = vim/bundle/neco-ghc
	url = https://github.com/ujihisa/neco-ghc
[submodule "vim/bundle/ghcmod"]
	path = vim/bundle/ghcmod
	url = https://github.com/eagletmt/ghcmod-vim
[submodule "vim/bundle/vim2hs"]
	path = vim/bundle/vim2hs
	url = https://github.com/dag/vim2hs
[submodule "vim/bundle/hoogle"]
	path = vim/bundle/hoogle
	url = https://github.com/Twinside/vim-hoogle
  ignore = untracked
