irssi/config.autosave
mpd/*
!mpd/mpd.conf
mutt/cache
mutt/certificates
mutt/temp
weechat/logs
weechat/weechat.log
weechat/weeget
weechat/xfer
weechat/irc.conf
weechat/jabber.conf
vimperator/info
offlineimaprc
*.pyc
*.hi
*.o
xmonad/xmonad-x86_64-linux
xmonad/xmonad.errors
goobookrc
