[general]
ui = ttyui
accounts = ThibaultDuplessis,ThibaultJirafe
pythonfile=~/.mutt/offlineimap.py

[Account ThibaultDuplessis]
localrepository = ThibaultDuplessis-Local
remoterepository = ThibaultDuplessis-Remote

[Repository ThibaultDuplessis-Local]
type = Maildir
localfolders = ~/.mail/thibault.duplessis.gmail.com

[Repository ThibaultDuplessis-Remote]
type = Gmail
remoteuser = thibault.duplessis@gmail.com
remotepass = xxx
realdelete = no
nametrans = lambda folder: re.sub('.*Spam$', 'spam', re.sub('.*Drafts$', 'drafts', re.sub('.*Sent Mail$', 'sent', re.sub('.*Starred$', 'flagged', re.sub('.*Trash$', 'trash', re.sub('.*All Mail$', 'archive', folder))))))

[Account ThibaultJirafe]
localrepository = ThibaultJirafe-Local
remoterepository = ThibaultJirafe-Remote

[Repository ThibaultJirafe-Local]
type = Maildir
localfolders = ~/.mail/thibault.jirafe.com

[Repository ThibaultJirafe-Remote]
type = Gmail
remoteuser = thibault@jirafe.com
remotepass = xxx
realdelete = no
nametrans = lambda folder: re.sub('.*Spam$', 'spam', re.sub('.*Drafts$', 'drafts', re.sub('.*Sent Mail$', 'sent', re.sub('.*Starred$', 'flagged', re.sub('.*Trash$', 'trash', re.sub('.*All Mail$', 'archive', folder))))))
