[Unit]
Description=Tags and uploads new puzzles

[Service]
Type=oneshot
ExecStart=/home/thib/lichess-puzzler/bin/import-more.sh
WorkingDirectory=/home/thib/lichess-puzzler
Environment=SSH_AUTH_SOCK=%t/ssh-agent.socket
ExecStartPre=/usr/bin/ssh-add /home/thib/.ssh/id_nokey

[Install]
WantedBy=multi-user.target
