[Unit]
Description="daq #%i"
PartOf=daqs.target

[Service]
Type=simple
Nice=19
StandardOutput=null
WorkingDirectory=/home/thib/magics/tracker
ExecStart=python3 client.py http://alpha.backscattering.de:8080 eventually
