[Unit]
Description=Runs disposable nightly
Requires=disposable.service

[Timer]
Unit=disposable.service
# every night at 1am
OnCalendar=*-*-* 01:00:00

[Install]
WantedBy=timers.target
