[Unit]
Description=Runs disposable nightly
Requires=disposable.service

[Timer]
Unit=disposable.service
# every night at 0am
OnCalendar=*-*-* 00:00:00

[Install]
WantedBy=timers.target
