[Unit]
Description=Fishnet client
After=network-online.target

[Service]
ExecStart=/home/thib/fishnet/target/release/fishnet --conf /home/thib/fishnet/fishnet.ini.local.analysis
KillMode=mixed
WorkingDirectory=/home/thib/fishnet/target/release/
ReadWriteDirectories=/home/thib/fishnet/target/release/
Nice=19
PrivateTmp=true
DevicePolicy=closed
ProtectSystem=full

[Install]
WantedBy=default.target
