
[Unit]
Description=lichess-watch
After=network.target

[Service]
Environment="DISPLAY=:0" "XAUTHORITY=/home/thib/.Xauthority"
ExecStart=/home/thib/dotfiles/scripts/lichess-watch

[Install]
WantedBy=multi-user.target
