
[Unit]
Description=lichess-watch
After=network.target

[Service]
ExecStart=/home/thib/dotfiles/scripts/lichess-watch

[Install]
WantedBy=multi-user.target
