[Unit]
Description=lila-ws

[Service]
WorkingDirectory=/home/thib/lila-ws
ExecStart=/usr/share/sbt/bin/sbt --client run
ExecStop=fuser -k 9664/tcp -TERM

[Install]
WantedBy=multi-user.target
