[Unit]
Description=lila
Wants=lila-ws.service
; Wants=lila-fishnet.service
; Wants=lila-watch.service

[Service]
WorkingDirectory=/home/thib/lila
ExecStart=/home/thib/.local/share/coursier/bin/sbtn reStart
ExecStop=/home/thib/.local/share/coursier/bin/sbtn reStop

[Install]
WantedBy=multi-user.target
