[Unit]
Description=lila-fishnet

[Service]
WorkingDirectory=/home/thib/lila-fishnet
ExecStart=sbt --client run
PIDFile=/home/lila-fishnet/RUNNING_PID

[Install]
WantedBy=multi-user.target
