[Unit]
Description=lila-search

[Service]
WorkingDirectory=/home/thib/lila-search
ExecStart=sbt --client run
ExecStop=rm /home/thib/lila-search/RUNNING_PID

[Install]
WantedBy=multi-user.target
