[Unit]
Description=lila
Requires=bloop.service
Wants=lila-ws.service
Wants=lila-fishnet.service
Wants=lila-watch.service

[Service]
ExecStart=bloop run lila -m play.core.server.ProdServerStart -c /home/thib/lila/.bloop

[Install]
WantedBy=multi-user.target
