[Unit]
Description=lila-watch

[Service]
Environment="DISPLAY=:0"
ExecStart=/home/thib/dotfiles/scripts/lila-watch

[Install]
WantedBy=multi-user.target
