[Unit]
Description=lila
Wants=lila-ws.service
; Wants=lila-fishnet.service
; Wants=lila-watch.service

[Service]
WorkingDirectory=/home/thib/lila
ExecStart=sbt --client run
ExecStop=fuser -k 9663/tcp -TERM

[Install]
WantedBy=multi-user.target
