[Unit]
Description=puzzler
After=mongodb.service

[Service]
WorkingDirectory=/home/thib/lichess-puzzler/validator/back
ExecStart=pnpm run start --env=prod
StandardOutput=journal
StandardError=journal
SyslogIdentifier=puzzler

[Install]
WantedBy=default.target
